<% content_for :page_content do %>
  <% if @items.empty? %>
    <div class="centered">
      <p>No items found</p>
      <%= component("add_button", link_to: new_item_path) %>
    </div>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= link_to item.name, item %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
<%= render partial: "shared/page", locals: { title: "Items" } %>
