<% content_for :page_content do %>
  <p><%= @item.description %></p>
  <p><%= link_to "Edit", edit_item_path(@item) %></p>
<% end %>
<%= render partial: "shared/page", locals: { title: @item.name } %>
