/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

dl {
  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: 1rem;
  }
}

table {
  width: 100%;
  border: 1px solid #e5e7eb;

  thead {
    border: 1px solid #e5e7eb;

    tr {
      background-color: #f9fafb;
      border-bottom: 1px solid #e5e7eb;
    }

    th {
      padding: 0.75rem 1.5rem;
      text-align: left;
      font-weight: bold;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.75rem;
    }
  }

  tbody {
    tr {
      border-top: 1px solid #f9fafb;

      td {
        padding: 0.75rem 1.5rem;
      }
    }
  }
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#layout-top-bar {
  display: flex;
  justify-content: flex-end;
}

.icon-menu {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  color: #1f2937;
}
